html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;

    margin-top: 35px;
}

/* Utilities */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear {
    clear: both;
}
